body{
    background-image: url(base.jpg);
    background-size: cover;
    color: white;
}

h1{
    text-align: center;
    color: white;
}

#setup{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}


#instructions{
    width: 350px;
    /* position: absolute; */
    color: white;
    top: 150px;
    left: 50px;
    padding: 5px;
    background-color: rgba(18, 2, 47, 0.3);
}
ul li{
    margin: 10px 0;
    font-size: 17px;
}
#instructions ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#points{
    width: 350px;
    max-height: 500px;
    overflow: scroll;
    /* position: absolute; */
    color: white;
    right : 20px;
    top: 150px;
    padding: 5px;
    background-color: rgba(18, 2, 47, 0.3);
}
#points ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#points li{
    font-size: 24px;

}
#reset{
    display: block;
    margin: 20px auto;
    font-size: 22px;
    padding: 10px 20px;
    border: 0px solid;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 0 15px darkblue;
    border-radius: 8px;
}
#gamebox{
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 5px;
   box-shadow: 0 0 15px rgb(217, 211, 211);

   background-color: rgba(18, 2, 47, 0.3);
}
.div{
    /* outline: 1px solid black; */
    display: flex;
    width: 50px;
    height: 50px; 
}
.snake{
    background-color: green;
    /* outline: 2px solid black; */


    border-radius: 100%;
    
}
.head{
    background-color: rgb(20, 203, 20);
    /* outline: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.apple{
    /* border-radius: 100%; */
    /* background-color: crimson; */
    font-size: 40px;   
    display: flex;
    align-items: center;
    justify-content: center;
}
.cookie{
    font-size: 40px;   
    display: flex;
    align-items: center;
    justify-content: center;
}
.frog{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}